@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #000;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
}

/* Type Selectors */
a,
a:link {
  color: rgb(19, 52, 99); /* contrast ratio: 8.78:1 */
}

a:visited {
  color: #000;
}

a:hover {
  background-color: rgba(255, 252, 112, 0.5); /* yellow */
}

a:active {
  color: rgb(233,80,58); /* red 3.7:1 */
}

h1,
h2,
h3 {
  font-family: "Roboto Serif", serif;
  font-weight: 600;
  color: #000;
  margin: 20px;
}

p {
  max-width: 60ch;
  letter-spacing: 1.25px;
  word-spacing: 1px;
}

p, li {
  line-height: 1.5;
  font-size: 18px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  min-height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  padding-left: 15px;
  grid-column: 1 / -1;
}

header,
nav,
footer {
  background-color: #ccc;
}

nav a {
  color: rgb(69, 105, 159);
}

nav{
  padding: 0 15px;

}

section {
  padding: 20px;
}

section p {
  margin: 20px;
  font-size: 16px;
}

img {
  border: 2px solid rgb(96, 96, 96);
  height: 100%;
  width: 100%;
}

/* id selectors */
#travel {
  text-align: left;
  border: 3px solid rgb(96, 96, 96); /* blue */
  overflow: auto;
}

#favorite-city {
  border: 3px solid rgb(96, 96, 96); /* blue */
}

#story {
  margin: 0 0 20px 0;
  background-color: rgba(102, 178, 255, 0.5);
}

#travel, #favorite-city, #attractions, #food {
  background-color: rgba(116, 202, 253, 0.5);
}

/* class selectors */
.first {
  font-weight: bold;
}

.first::first-letter {
  font-size: 25px;
}

.img-cls {
  max-width: 100%;
  height: auto;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
