@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');

/* Type Selectors (General)*/
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #000;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

a,
a:link {
  color: rgb(19, 52, 99); /* contrast ratio: 8.78:1 */
}

a:visited {
  color: #444; /* contrast ratio: 9.73:1 */
}

a:hover {
  background-color: rgba(255, 252, 112, 0.5); /* yellow */
}

a:active {
  color: rgb(233,80,58); /* red 3.7:1 */
}

h1,
h2,
h3 {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  color: rgb(19, 52, 99); /* blue contrast ratio: 12.35:1 */
  margin: 20px;
}

p {
  max-width: 60ch;
  letter-spacing: 1.25px;
  word-spacing: 1px;
}

p, li {
  line-height: 1.5;
  font-size: 18px;
}

ul > li {
  list-style-type: square;
}

abbr[title] {
  text-decoration-color: rgb(30, 144, 255); /* blue */
  text-decoration-style: wavy;
}

header,
footer {
  padding-left: 15px;
  grid-column: 1 / -1;
}

header,
nav,
footer {
  background-color: #eee;
}


/* Type selectors (Structural) */
nav a {
  color: rgb(69, 105, 159);
}

nav p {
  margin-left: 20px;
}

section {
  padding: 20px;
}

section p {
  margin: 20px;
}

table {
  padding: 20px;
}

td {
  text-align: right;
}

img {
  border: 1px dashed rgb(2, 8, 115); /* blue */
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "introduction introduction"
    "people-and-society     economy";
}

/* id selectors */
#introduction {
  font-size: 18px;
  color: #333;
}

#introduction {
  background-color: rgba(255, 241, 118, 0.5);
  width: 600px;
  height: 300px;
  text-align: left;
  border: 3px dotted rgb(2, 8, 115); /* blue */
  overflow: auto;
  grid-area: introduction;
}

#people-and-society {
  grid-area: people and society;
  background-color: rgba(126, 206, 253,0.5);
}

#economy {
  grid-area: economy;
  background-color: rgba(126, 206, 253,0.5);
  padding: 20px;
}

/* class selectors */
.first {
  font-weight: bold;
}

.first::first-letter {
  font-size: 23px;
}
